.city-card {
  border-radius: 8px;

  &__body {
    text-align: center;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__info {
    color: #666;
  }

  &__button {
    margin-top: 0.5rem;
  }
}
